.contact_us_section {
  position: relative;
  width: 100%;
  height: 835px;
  iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .contact_us_section__wrapper {
    max-width: 1140px;
    width: 100%;
    height: 835px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    .contact_us_section__wrapper__block {
      position: relative;
      width: 420px;
      height: 589px;
      z-index: 3;

      background: #ffffff;
      border-radius: 18px 0px 0px 0px;
      .contact_us_section__wrapper__block_main {
        max-width: 243px;
        width: 100%;
        height: 530px;
        margin: 76px auto;
        h1 {
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 130%;
          letter-spacing: -0.05em;
          text-transform: uppercase;
          color: #e31e24;
        }
        h2 {
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          margin-top: 5px;
          line-height: 24px;
          text-transform: uppercase;
          color: #000000;
        }
        hr {
          width: 100%;
          margin-top: 30px;
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          margin-top: 34px;

          color: #000000;
        }
        h3 {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          margin-top: 30px;
          line-height: 140%;
          color: #000000;
        }
        h4 {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          margin-top: 7px;
          margin-bottom: 7px;
          line-height: 27px;
          letter-spacing: -0.05em;
          color: #000000;
        }
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 15px;
          text-decoration-line: underline;
          color: #e31e24;
        }
        h5 {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          margin-top: 40px;
          line-height: 15px;
          text-decoration-line: underline;

          color: #e31e24;
        }
        .contact_us_section__wrapper__block_main__social {
          width: 176px;
          margin-top: 61px;
          display: flex;
          justify-content: space-between;
          img {
            width: 45px;
            height: 50px;
            cursor: pointer;
          }
        }
        button {
          max-width: 243px;
          width: 100%;
          height: 60px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 15px;
          text-align: center;
          letter-spacing: -0.05em;
          text-transform: uppercase;
          margin-top: 60px;
          color: #ffffff;
          border: none;
          transition: all 0.3s ease;
          background: #e31e24;
          border-radius: 15px 0px;
          cursor: pointer;
        }
        button:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}

@media screen and (max-width: 1165px) {
  .contact_us_section {
    .contact_us_section__wrapper {
      padding: 0 2% 0 2%;
    }
  }
}

@media screen and (max-width: 760px) {
  .contact_us_section__wrapper {
    align-items: flex-start !important;
    height: 589px !important;
    background: #ffffff;
    padding: 0 !important;
    .contact_us_section__wrapper__block {
      width: 100% !important;
      padding: 0 2% 0 2%;
      .contact_us_section__wrapper__block_main {
        max-width: 100% !important;
        margin: 0 !important;
        margin-top: 65px !important;
      }
    }
  }
}

@media screen and (max-width: 610px) {
  .contact_us_section__wrapper__block {
    padding: 0 4% 0 4% !important;
  }
}
