.hero_section {
  width: 100%;
  height: 800px;
  background: url("../../public/backgroundHero.png") no-repeat center;
  background-size: cover;
  animation: bg-animation 10s ease-in-out infinite alternate;
  .hero_section__contain {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    .hero_section__contain_number {
      max-width: 227px;
      height: 100px;
      width: 100%;
      display: flex;
      padding-top: 45px;
      flex-direction: column;
      a:nth-child(1) {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 27px;
        letter-spacing: -0.05em;
        color: #dbcbb4;
      }
      a:nth-child(2) {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-top: 10px;
        line-height: 15px;
        text-align: right;
        text-decoration-line: underline;
        color: #ffffff;
      }
    }
    .hero_section__contain_info {
      max-width: 768px;
      width: 100%;
      height: 80px;
      padding-top: 187px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .hero_section__contain_info_logo {
        width: 260px;
        height: 80px;
      }
      .hero_section__contain_info__title {
        h4 {
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 24px;
          margin-bottom: 9px;
          text-transform: uppercase;
          color: #dbcbb4;
        }
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 15px;
          color: #ffffff;
        }
      }
      .hero_section__contain_info__social {
        max-width: 186px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        img{
          width: 50px;
          height: 45px;
          cursor: pointer;
        }
      }
    }
    .hero_section__contain_text {
      position: relative;
      max-width: 999px;
      width: 100%;
      height: 235px;
      margin-top: 161px;
      h1 {
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 120%;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        color: #ffffff;
      }
      .hero_section__contain_text__block {
        position: absolute;
        width: 376px;
        height: 42px;
        bottom: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 0;
        background: #ffffff;
        p {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #e31e24;
        }
      }
    }
    .hero_section__contain__request {
      max-width: 930px;
      width: 100%;
      height: 70px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h4 {
        max-width: 604px;
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 145%;
        text-align: left;
        letter-spacing: -0.03em;
        color: #ffffff;
      }
      a{
        max-width: 264px;
        width: 100%;
        text-decoration: none;
      }
      button {
        max-width: 264px;
        width: 100%;
        height: 54px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: -0.05em;
        color: #ffffff;
        background: #e31e24;
        border: none;
        transition: all 0.3s ease;
        border-radius: 15px 0px;
        cursor: pointer;
      }
      button:hover {
        transform: scale(1.1);
      }
    }
  }
}

@keyframes bg-animation {
  0% {
    background-image: url("../../public/backgroundHero.png");
  }
  100% {
    background-image: url("../../public/backgroundHero3.png");
  }
}

@media screen and (max-width: 1145px) {
  .hero_section {
    padding: 0 2% 0 2%;
  }
  .hero_section__contain_text {
    h1 {
      font-size: 49px !important;
    }
  }
}

@media screen and (max-width: 952px) {
  .hero_section__contain_info {
    padding-top: 270px !important;
  }
}

@media screen and (max-width: 901px) {
  .hero_section__contain_text__block {
    left: 0 !important;
  }
}

@media screen and (max-width: 744px) {
  .hero_section {
    height: 470px !important;
  }
  .hero_section__contain_info__social{
    margin-top: 110px;
  }
  .hero_section__contain_info {
    margin-top: 0px !important;
    padding-top: 0 !important;
    .hero_section__contain_info_logo {
      margin-top: 120px;
      width: 136px !important;
      height: 40px !important;
    }
    .hero_section__contain_info__title {
      display: none;
    }
  }
  .hero_section__contain_text {
    margin-top: 81px !important;
    h1 {
      font-size: 30px !important;
    }
  }
  .hero_section__contain_text__block {
    width: 310px !important;
    top: 110px;
    p {
      font-size: 14px !important;
    }
  }
  .hero_section__contain__request {
    display: block !important;
    margin-top: -30px !important;
    h4 {
      font-size: 18px !important;
    }
    button {
      width: 210px !important;
      height: 46px !important;
      margin-top: 20px !important;
      font-size: 14px !important;
    }
  }
}

@media screen and (max-width: 425px) {
  .hero_section {
    height: 470px !important;
  }
  .hero_section__contain_info__social {
    max-width: 116px !important;
    img {
      width: 27px !important;
      height: 27px !important;
    }
  }
  .hero_section__contain_text__block {
    width: 100% !important;
    top: 160px;
  }
}
