@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.footer {
  position: relative;
  max-width: 1140px;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  .footer__politics {
    max-width: 333px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 87px;
    height: 100%;
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      margin-top: 30px;
      line-height: 15px;
      text-decoration-line: underline;
      color: #e31e24;
    }
  }
  .footer__btn_up {
    position: absolute;
    width: 240px;
    height: 61.41px;
    z-index: 4;
    right: 0;
    top: -35px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #e31e24;
    background: #ffffff;
    transition: all 0.3s ease;
    border: 2px solid #e31e24;
    border-radius: 15px 0px;
    cursor: pointer;
  }
  .footer__btn_up:hover {
    transform: scale(1.1);
  }
  .footer__contacts {
    max-width: 717px;
    width: 100%;
    height: 100%;
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      margin-top: 96px;
      line-height: 140%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      color: #b4b4b4;
    }
    .footer__contacts__blocks {
      width: 100%;
      height: 109px;
      margin-top: 53px;
      display: flex;
      flex-wrap: wrap;
      .footer__contacts__block {
        width: 33%;
        height: 109px;
        a {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 180%;
          text-decoration: none;
          color: #000000;
        }
      }
    }
  }
}

@media screen and (max-width: 1145px) {
  .footer {
    padding: 0 2% 0 2%;
  }
  .footer__contacts__blocks {
    margin: 0 !important;
  }
  .footer__contacts__block {
    margin-top: 30px;
    width: 43% !important;
  }
}

@media screen and (max-width: 950px) {
  .footer__contacts__block {
    width: 100% !important;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-direction: column;
    padding: 0 4% 0 4%;
    .footer__politics {
      margin-left: 0px !important;
      margin-top: 20px !important;
    }
    .footer__contacts {
      h1 {
        margin-top: 30px !important;
      }
    }
    .footer__btn_up {
      left: 4% !important;
    }
  }
}
