.delivery_section {
  width: 100%;
  background: url("../../public/bac.png") no-repeat center;
  .delivery_section__block {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    .delivery_section__cards {
      width: 100%;
      .delivery_section__cards__title {
        display: flex;
        align-items: center;
        h1 {
          font-style: normal;
          font-weight: 900;
          font-size: 70px;
          margin-right: 17px;
          line-height: 140%;
          letter-spacing: -0.05em;
          text-transform: uppercase;
          color: #e31e24;
        }
        h2 {
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 160%;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #000000;
        }
      }
      .delivery_section_main {
        width: 100%;
        height: auto;
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .delivery_card {
          position: relative;
          width: 330px;
          padding-bottom: 50px;
          transition: 0.5s;
          background: #ffffff;
          border-radius: 18px 0px 18px 0px;
          .delivery_card_img {
            width: 100%;
            height: 212px;
            mix-blend-mode: multiply;
            object-fit: cover;
            border-radius: 18px 0px 0px 0px;
          }
          .delivery_card_price {
            position: absolute;
            width: 135px;
            height: 41px;
            right: 0;
            top: 190px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: #ffffff;
            background: #e31e24;
            border-radius: 15px 0px;
          }
          .delivery_card__main {
            width: 100%;
            border-radius: 0px 0px 18px 0px;
            padding: 0 5px 0 40px;
            h2 {
              font-style: normal;
              font-weight: 600;
              font-size: 22px;
              line-height: 150%;
              margin-top: 42px;
              letter-spacing: -0.05em;
              color: #000000;
            }
            h3 {
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
              margin-top: 6px;
              color: #5b5b5b;
            }
            p {
              max-width: 200px;
              width: 100%;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
              margin-left: 14px;
              color: #000000;
            }
          }
        }
      }
    }
    .delivery_card:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .delivery_section_statistics {
      width: 100%;
      height: 350px;
      margin-top: 100px;
      .delivery_section_statistics__header {
        max-width: 1020px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .delivery_section_statistics__header_left_block {
          display: flex;
          h1 {
            font-style: normal;
            font-weight: 900;
            font-size: 70px;
            margin-top: -11px;
            margin-right: 20px;
            letter-spacing: -0.05em;
            text-transform: uppercase;
            color: #e31e24;
          }
          h2 {
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 140%;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #000000;
          }
        }
        .delivery_section_statistics__header_right_block {
          max-width: 566px;
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          text-align: center;
          color: #000000;
          border: 2px solid #c4c4c4;
        }
      }
      .delivery_section_statistics__main {
        width: 100%;
        margin-top: 45px;
        display: flex;
        justify-content: space-between;
        .delivery_section_statistics__main_card {
          width: 150px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          img {
            height: 55px;
          }
          h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 50px;
            line-height: 48px;
            letter-spacing: -0.05em;
            color: #a9a9a9;
          }
          p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 150%;
            color: #000000;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .delivery_section {
    padding: 0 1% 0 1%;
  }
}

@media screen and (max-width: 754px) {
  .delivery_section {
    padding: 0 3% 0 3%;
    background: none;
    .delivery_section__cards__title {
      display: block !important;
      h2 {
        margin-top: -12px;
      }
      br {
        display: none;
      }
    }
    .delivery_section_main {
      flex-direction: column;
      gap: 20px !important;
      .delivery_card {
        width: 100% !important;
        background-color: #f3f5f6 !important;
        p {
          white-space: nowrap;
        }
        .delivery_card__main {
          padding: 0 9% 0 9% !important;
        }
      }
    }
    .delivery_section_statistics__header {
      flex-direction: column;
      .delivery_section_statistics__header_left_block {
        flex-direction: column;
        br {
          display: none;
        }
      }
      .delivery_section_statistics__header_right_block {
        max-width: 320px !important;
        margin-top: 35px !important;
        height: 91px !important;
      }
    }
  }
  .delivery_section_statistics__main {
    gap: 70px;
    overflow-x: scroll;
  }
}
@media screen and (max-width: 560px) {
  .delivery_section {
    padding: 0 4% 0 4%;
  }
  .delivery_card {
    p {
      width: 800px !important;
      white-space: initial !important;
    }
  }
}
