.CustomerSlideSwiper {
  width: 100%;
  height: 100%;
}

.CustomerSlideSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  width: 100px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CustomerSlideSwiper .swiper-slide img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
}
