.logistic_section {
  width: 100%;
  background: url("../../public/mask_bg.png") no-repeat;
  background-size: cover;
  .logistic_section__block {
    max-width: 1160px;
    width: 100%;
    margin: 140px auto;
    padding-bottom: 120px;
    padding-top: 80px;
    h1 {
      max-width: 1150px;
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 150%;
      letter-spacing: 0.1em;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
    p {
      max-width: 1100px;
      width: 100%;
      font-style: normal;
      font-weight: 400;
      margin-top: 10px;
      font-size: 21px;
      line-height: 150%;
      text-align: center;
      color: #f4eee9;
    }
  }
}

@media screen and (max-width: 748px) {
  .logistic_section {
    padding: 0 2% 0 2%;
  }
}

@media screen and (max-width: 560px) {
  .logistic_section__block {
    h1 {
      font-size: 29px !important;
    }
    p {
      font-size: 18px !important;
    }
  }
}
@media screen and (max-width: 415px) {
  .logistic_section__block {
    h1 {
      font-size: 24px !important;
    }
    p {
      font-size: 15px !important;
    }
  }
}

@media screen and (max-width: 415px) {
  .logistic_section__block {
    h1 {
      font-size: 22px !important;
    }
    p {
      font-size: 14px !important;
    }
  }
}
